{%extends "layouts/base.html"%}
{%block title%} book {%endblock%}
{% load static %}
{%block content%}
<h3>Updating Book</h3>
<form method = "post">
 {% csrf_token %}
 <label for="title">Title</label>
 <input type="text" id ="title" name="title" value= "{{obj.title}}" />
 <br>
 <label for="price">Price (with decimal point)</label>
 <input type="text" id="price" name="price" value="{{obj.price}}" />
 <br>
 <label for="edition">Edition</label>
 <input type="number" id="edition" name="edition" value="{{obj.edition}}"/>
 <br>
    <label for="author">Author</label>
    <input type="text" id="author" name="author" value="{{obj.author}}" />
 <br>
 <button type="submit">Update Book</button>
</form>
{%endblock content%}