{% extends "layouts/base_lab5.html" %}
 
{% load static %}
 
{% block title %} listing text {% endblock title %}
 {% block content %} 
<div class="title">
    <p >
       <b>The Best Feature of the Internet</b>
    </p></div>
    <ul>
        <li>You meet new people from countries around the world</li>
        <li>you have access to new media as it becomes public </li>
        <ul>
            <li>New Games</li>
            <li>New Applications</li>
            <ol>
                <li>For business </li>
            <li> For pleasure </li>
            </ol>
            <li>Around the clock news </li>
            <li>Search engine  </li>
            <li>Shopping </li>
            <li>Programming </li>
            <ol>
                <li>XML </li>
            <li>Java</li>
            <li>   HTML5 </li>
            <li> Java scripts  </li>
            <li>Shopping </li>
            <li>New languages </li>

            </ol>
        </ul>
        <li>Links</li>
        <li>Keep touch with the friend</li>
        <li>It's the future!</li>
      </ul>
{% endblock content %}
