{%extends "../../layouts/base.html"%}
{%block title%} student {%endblock%}
{% load static %}
{%block content%}
<br>
<br>
<div style="padding:20px ; place-self: center;">
    <a href="{% url "books.lab11_task2_addstudent" %}" >
  <button style="padding:10px; font-size: 20px;">
      Add New Student
  </button></a>
  
  </div>
  <br>
<table style=" border: 1px solid black ;  border-collapse: collapse; place-self: center;">
    <tr style=" background-color:#F4E4F7; border: 1px solid black ; font-size: 20px;">
    <th style=" border: 1px solid black ">ID</th>
    <th style=" border: 1px solid black ">Name</th>
    <th style=" border: 1px solid black ">Age</th>
    <th style=" border: 1px solid black ; " colspan="2"></th>

    </tr>
{% for obj in Students %}
   <tr style=" text-align: center; border: 1px solid black ">
        <td style="padding:10px; border: 1px solid black ">{{obj.id}}</td>
        <td style=" padding:10px; border: 1px solid black ">{{obj.name}}</td>
        <td style=" padding:10px; border: 1px solid black ">{{obj.age}}</td>
        <td style=" padding:10px; border: 1px solid black ; color:#5020C6;"> <a href="{% url 'books.lab11_task2_editstudent'  obj.id %}">Edit</a></td>
        <td style="padding:10px;  border: 1px solid black ; color:red;"> <a href="{% url 'books.lab11_task2_deletestudent'  obj.id %}"> Delete </a> </td>

  </tr>
{% endfor %}

  

{%endblock content%}