{% extends "layouts/base_lab5.html" %}
 
{% load static %}

{% block title %} formmating text {% endblock title %}
 {% block content %} 
<div class="cont">
    <p >
        Example of formatting tags
    </p></div>
    <p >
       This text has <b>subtext</b> using b tag   
    </p>
    <p >
        This text has <strong>subtext</strong> using b tag   
    </p><p >
        This text has <i>subtext</i> using b tag   
    </p><p >
        This text has <em>subtext</em> using b tag   
    </p><p >
        This text has <small>subtext</small> using b tag   
    </p><p >
        This text has <mark>subtext</mark> using b tag   
    </p><p >
        This text has <del>subtext</del> using b tag   
    </p><p >
        This text has <ins>subtext</ins> using b tag   
    </p>
    <p >
        This text has X<sub>subtext</sub> using b tag   
    </p>
    <p >
        This text has X<sup>subtext</sup> using b tag   
    </p>
{% endblock content %}
