{% extends "layouts/base_lab5.html" %}
{% load static %}
{% block title %} links {% endblock title %}
{% block content %} 
<di >
<div class ="box" id="box1" >
        <a  href="https://www.qu.edu.sa" target="_blank" >
            Go to QU website (open new tab)
        </a>
</div>
<div  class="box" id="box2" >
    <a href="https://www.qu.edu.sa">
        Go to QU website (open in the same page/tab)
    </a>
</div>

<div class="box" id="box3" >
    <a href="https://www.qu.edu.sa" >
        Go to QU website (open in the same page/tab)
    </a>
</div>
<div>
{% endblock content %}
